/* :root {
    --main-color: #006699;
    --secondary-color: #e2e2e2;
    --dark-main: #025681;
    --light-bg: #f4f4f9;
    --light-txt: #242424;
    --lighter-bg:#e2e2e2;
    --canvas-light: #f4f4f9;
    --creator-section:#f4f4f9;
    --creator-text: #242424;
} */
:root {
    --main-color: #00796b; /* Teal: primary color for light theme */
    --secondary-color: #e0f2f1; /* Aqua: lighter background */
    --dark-main: #004d40; /* Dark teal for emphasis */
    --light-bg: #ffffff; /* Clean white background */
    --light-txt: #263238; /* Dark slate for readable text */
    --lighter-bg: #b2dfdb; /* Very light aqua for contrast */
    --canvas-light: #e0f2f1; /* Matches secondary for uniformity */
    --creator-section: #ffffff; /* Clean white for creator section */
    --creator-text: #263238; /* Matches text color for consistency */
    --hero-txt:#ffffff;
    --gradient: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    --gradient-btn: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
}


::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
    /* Track color */
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}


::selection {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}


/* This will represent a dynamic heading mechanism */
.main-heading {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
    color: var(--light-txt);
}

.main-heading h2::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    bottom: -20px;

}

.main-heading h2::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    background-color: var(--light-bg);

}

.main-heading p {
    line-height: 1.6;
    width: 550px;
    color: var(--light-txt);
    max-width: 100%;
    margin: 0 auto;
}

/* the rest of the design */

.binary img, .multi img{
    border-radius: 10px;
}
.content {
    position: relative;
    color: var(--light-bg);
    text-align: center;
    z-index: 1;
    /* Ensures content appears above video */
    padding: 20px;
    margin: 0 180px;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    margin: 0;
    background-color: var(--light-bg);
}


.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

canvas {
    border: 1px solid var(--light-txt);
    margin-top: 20px;
    background-color: var(--canvas-light);
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2),
        0 8px 30px rgba(0, 0, 0, 0.15);
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    background-color: var(--lighter-bg);
    color: var(--light-txt);
    border: 1px solid var(--light-txt);
}
label,
input,
button {
    margin: 5px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light-bg);
    width: 100%;
    z-index: 10;
    box-shadow: 0 3px 21px -9px var(--main-color);
}
#learn-btn,
#clear-btn,
#multi-class-btn,
#binary-predict-btn {
    padding: 10px;
    background-color: var(--main-color);
    border: none;
    border-radius: 6px;
    color: var(--secondary-color);
    transition: 0.2s;
    margin-top: 10px;
}

#learn-btn:hover,
#clear-btn:hover,
#multi-class-btn:hover,
#binary-predict-btn:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

#learning-rate,
#max-iterations {
    padding: 10px;
    border-radius: 6px;
    transition: 0.5s;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    background-color: var(--main-color);
    margin-bottom: 50px;
}

.title i {
    font-size: 25px;
    margin-right: 30px;
}

#multi-class-btn {
    width: 60px;
    height: 38.4px;
}


label,
#accuracy,
#binary-output-result {
    color: var(--light-txt);;
    font-weight: bold;
}

.input-section {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}

.input-section input {
    padding: 10px;
    border-radius: 6px;
    transition: 0.5s;
}

.starter {
    background-color: var(--light-bg);;
}

.starter .logo{
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
}

.starter ul {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 15px;
    border-bottom: 2px solid var(--secondary-color);
}

.starter ul li {
    margin-right: 70px;
}

.starter ul li #themeToggle{
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.starter ul li #spinning {
    cursor: pointer;
    animation: infiniteRotate 1s ease-in-out infinite;
    color: var(--main-color);
    cursor: pointer;
}
.starter ul li #spinning:hover {
    color: var(--secondary-color);
}

.starter nav  i.fa-bars{
    cursor: pointer;
    font-size: 15px;
    font-size: 20px;
    margin-right: 5px;
    display: none;
    justify-self: flex-start;
    color: var(--main-color);
    transition: 200ms;
} 
.starter nav  i.fa-bars:hover {
    /* color: var(--secondary-color); */
}
.starter ul li i{
    transition: 0.2s;
}
.starter ul li i:hover {
    color: var(--secondary-color);
}
.starter ul li #blist:hover {
    color: var(--secondary-color);
}


.starter ul li i {
    color: var(--main-color);
}

@keyframes infiniteRotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.starter ul a {
    text-decoration: none;
    color: var(--main-color);
    padding: 5px;
    transition: 0.2s;
    font-weight: bold;
}
.starter ul.visible {
    opacity: 1;
}

@media (max-width:650px) {
    .starter .logo {
        opacity: 1;
    }
    .starter nav {
        justify-content: flex-end;

    }
    .starter nav i.fa-bars {
        display: block;
        margin-right: 10px;
        padding: 15px;
    }
    .starter ul {
        display: flex;
        position: absolute;
        top: 51px;
        right: -50px;
        border: none;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        width: 16em;
        background-color: rgba(0, 0, 0, 0.495);
        align-content: flex-start;
        border-radius: 6px;
        opacity: 0;
        transition: 200ms;
    }
    .starter ul li {
        border-bottom: 1px solid white;
        margin-right: 50px;
        width: 80%;
        text-align: end;
        padding: 10px;
    }
    .starter ul li:last-child{
        border-bottom: none;
    }
    
    .starter ul li:first-child {
        display: none;
    }
    
}

.starter ul a:hover {
    color: var(--secondary-color);
}

.image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-bottom: 2px solid var(--secondary-color);
    background-image: var(--gradient);
    transition: background-color 0.5s ease, color 0.5s ease, background-image 0.5s ease;
}
.image.fade {
    opacity: 0.5;
}




.image .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image .text h2 {
    font-size: 55px;
    color: var(--hero-txt);
}

.image .text p {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.4;
    color: var(--hero-txt);
    ;
}

.about {
    margin: 0 100px;
}


.about .classes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 1204px){
    canvas {
        width: 400px;
    }
}

@media (max-width: 1100px){
    .content {
        margin-right: 76px;
    }
}

@media (max-width:995px) {
    .analyze-buttons {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .content{
        margin:0 78px;
    }
    .image .text h2 {
        margin-top: 30px;
        font-size: 40px;
    }
    .about .classes {
        flex-direction: column;
    }

    .about .classes .binary {
        margin-bottom: 80px;
    }

    .container1 {
        flex-wrap: wrap;
    }

    canvas {
        margin: 0 auto;
    }

    img {
        width: 250px;
    }

    .main-heading h2 {
        font-size: 30px;
    }

    .main-heading p {
        font-size: 14px;
    }

    .form-container {
        width: 200px;
    }
    #classificationChart{
        width: 900px;
        margin: 10px auto;
    }
}

@media (max-width: 627px){
    .image .text p {
        font-size: 17px;
    }
    .main-heading h2 {
        font-size: 25px;
    }

    .main-heading p {
        font-size: 12px;
    }
}
@media (max-width: 497px) {
    canvas {
        width: 300px;
    }
    .image .text p {
        font-size: 13px
    }
}



.about .classes .binary {
    position: relative;
}

.about .classes .multi {
    position: relative;
}

.classes .binary p,
.classes .multi p {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: -52px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    left: 18px;
}


.creators-section {
    text-align: center;
    padding: 40px;
    background-color: var(--creator-section);
    border-top: solid 1px var(--secondary-color);
}

.creators-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--creator-text);
}

.creator-card {
    display: inline-block;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--light-bg);
    transition: transform 0.3s ease;
}

.creators-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--light-txt); 
}

.creator-card h3 {
    font-size: 1.2em;
    color: var(--light-txt); 
}

.creator-card p {
    font-size: 0.9em;
    color: var(--light-txt); 
}

.creator-card i {
    margin-top: 10px;
    font-size: 20px;
    color: var(--main-color);
    transition: 0.2s;
}

.creator-card:hover {
    transform: translateY(-10px);
}

.creator-card:hover i {
    color: var(--secondary-color);
}


footer {
    background-color: var(--main-color);
    margin: 0;
    padding: 20px;
    color: var(--light-bg);
    text-align: center;
    align-items: center;
    font-size: 13px;
    border-top: 2px solid var(--dark-main);
    box-shadow: 0 -5px 20px -9px var(--main-color);
}

footer span {
    font-weight: bold;
}

#scrollToTop {
    position: fixed;
    z-index: 5;
    bottom: 60px;
    transform: translateY(-50%);
    right: 40px;
    opacity: 0;
    /* Initially hidden */
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.4s ease, transform 0.4s ease, background-color 0.3s ease;
    /* Smooth transition */
}

#scrollToTop.show {
    opacity: 1;
    /* Make it visible when added */
}

#scrollToTop.rotate {
    transform: rotate(180deg);
    /* Rotate 180 degrees */
}

#scrollToTop:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}




#get-started {background-image: var(--gradient-btn)}
#get-started {
   margin-top: 100px;
   padding: 12px 30px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.4s;
   background-size: 200% auto;
   color: var(--hero-txt);            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border: none;
 }

 #get-started:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   transform: scale(1.1);
 }

 .classification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: var(--light-txt);
}

.classification {
    max-width: 600px;
}

.classification-table {
    margin: 10px auto;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.classification-table th,
.classification-table td {
    border: 1px solid var(--lighter-bg);
    padding: 8px;
    text-align: center;
    
}

.chart-container {
    position: relative;
    width: 100%; /* Full width */
    max-width: 800px; /* Limit the maximum width */
    height: auto; /* Let height adjust automatically */
    aspect-ratio: 16 / 9; /* Maintain a good aspect ratio */
    margin: 0 auto; /* Center the chart */
    padding: 10px;
    box-sizing: border-box;
}
.chart-container canvas{
    position: absolute;
    left: 0;
    /* transform: translate(-50%); */
}

@media (max-width: 480px) {
    .chart-container {
        display: none;
    }
}

canvas {
    background-color: var(--lighter-bg);
    border-radius: 8px;
}




